body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}





.center-box {
    width: 50%;
    padding: 30px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.settings label {
    flex: 0 0 auto;
    margin-right: 5px;
    text-align: right;
}

.settings select, .settings input, .settings button {
    flex: 0 0 auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.settings select:hover, .settings input:hover, .settings button:hover {
    background-color: #ddd;
    transition: all 0.3s ease;
}

.settings select:active, .settings input:active, .settings button:active {
    transform: scale(0.98);
    transition: all 0.1s ease;
}

.CodeMirror {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 20px;
    transition: all 0.3s ease;
}

.CodeMirror-line {
    line-height: 1.5;
}

.CodeMirror-cursor {
    border-left: 2px solid #000;
}

#myEditor .CodeMirror {
    font-size: 20px !important;
}


:root {
    --background-color: #282c34;
    --text-color: #fff;
    --box-color: #3c4049;
    --background-image: url('images/BackgroundDark.png');
}

body.light-theme {
    --background-color: #f0f0f0;
    --text-color: #333;
    --box-color: #fff;
    --background-image: url('images/BackgroundLight.png');
}


#copy {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}

.CodeMirror-scroll::-webkit-scrollbar {
    width: 12px;
}

.CodeMirror-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.CodeMirror-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.CodeMirror-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'VT323-Regular';
    src: url('fonts/VT323-Regular.ttf') format('truetype');
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

body.light-theme .settings select, 
body.light-theme .settings input, 
body.light-theme .settings button {
    color: #fff;
    background-color: #333;
}

body.light-theme .settings select:hover, 
body.light-theme .settings input:hover, 
body.light-theme .settings button:hover {
    background-color: #555;
}

body.light-theme .settings select:active, 
body.light-theme .settings input:active, 
body.light-theme .settings button:active {
    background-color: #222;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

.developer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #aaa;
    font-family: 'Fira Code', monospace; 
}


#start-capture {
    position: relative;
    z-index: 10001;
}

#popup {
    position: fixed;
    left: 2%;
    top: 60%;
    transform: translateY(-50%);
    width: auto;
    padding: 5px 10px;
    background-color: #282a36 !important;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    font-size: 18px;
    transition: all 0.3s ease;
    display: none;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    color: #f8f8f2;
    animation: popup 0.5s ease-out;
}

#popup button,
#popup label {
    display: block;
    margin-bottom: 5px;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}

.focus-mode::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#focus-mode {
    position: relative;
    z-index: 10000;
}

.focus-mode .CodeMirror {
    z-index: 9999;
}
.focus-mode #focus-mode {
    z-index: 10000;
}

.focus-mode::before {
    opacity: 1;
}


.CodeMirror-bottompanel {
    background: transparent;
    text-align: right;
}

#github-logo {
    width: 30px;
    height: 30px;
}

/* Add this to your CSS file */
#user-link {
    /* Style the input field as needed */
}

#display-link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: grey;
    background-color: transparent;
    /* Add more styles as needed */
}

/* Add this to your CSS file */
.link-widget {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 2px; /* Add padding to prevent overlap with the code */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background to make the text more readable */
    color: grey; /* Change the text color to white for better contrast */
}


.CodeMirror-gutter-wrapper::before {
    content: "•";
    color: #ddd; /* Change this to match your theme */
    display: none;
    padding-right: 5px;
  }
  
  .CodeMirror-gutter-wrapper.wrapped::before {
    display: inline;
  }

 
  .donation-section {
    position: absolute;
    top: 0;
    left: 0;
    
    text-align: right;
}

.gif-box {
    position: absolute;
    top: 50pxpx; 
    left: 6px; 
    width: 300px; 
    padding: 20px;
    border-radius: 10px;
    background:transparent;
    border: 1px solid #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.gif-box img {
    width: 100%;
    height: auto;
    pixelated: true;
    border-radius: 10px;
    border
}



  .support a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support img {
    margin-bottom: 10px;
}